.checkbox {
  position: relative;
  display: block;
  margin-bottom: 12px;
  padding-right: 5px;
  padding-left: 35px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox__icon {
  position: absolute;
  top: 16px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #dfe3e6;
  border-radius: 6px;
  background-color: transparent;
}

.checkbox:hover input ~ .checkbox__icon {
  border-color: #000000;
}

.checkbox input:checked ~ .checkbox__icon {
  border: none;
  background: linear-gradient(
    255.35deg, 
    #DC3131 0.83%, 
    rgba(255, 79, 79, 0) 
    108.93%),
    #FF5E56;
}

.checkbox__icon:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkbox__icon:after {
  display: block;
}

.checkbox .checkbox__icon:after {
  top: 3px;
  left: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
}