.early-pay {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.early-pay__label {
  width: 100%;
}

.early-pay__checkbox {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dfe3e6;
}