.form-deduction {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 16px;
}

.form-deduction__title {
  @include font-middle;
  margin-bottom: 8px;
  font-weight: 500;
}

.form-deduction__sum {
  margin-bottom: 16px;
}

.form-deduction__group-buttons {
  padding-top: 24px;
  padding-bottom: 24px;
}

.form-deduction__button-pay {
  margin-right: 8px;
}

.form-deduction__button-submit {
  margin-top: auto;
}