.main {
  display: flex;
  width: 100vw;
  height: 100vh;

  &--popup {
    background-color: #fff;
  }

  &--start {
    background:
      linear-gradient(255.35deg,
      #DC3131 0.83%,
      rgba(126, 60, 60, 0) 108.93%
    ),
      #FF5E56;
  }
}

.main__wrapper {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding: 16px;

  &--start {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

}